@charset "UTF-8";

/* !HTML5 elements
---------------------------------------------------------- */
header, footer, nav, section, aside, article
{ display: block;}

/* !Reseting
---------------------------------------------------------- */
input, textarea
{ margin: 0; font-size: 100%;}
label
{ cursor: pointer;}
table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
fieldset, img
{ border: 0;}
img
{ vertical-align: top; max-width: 100%;}
address, caption, cite, code, dfn, em, th, var
{ font-style: normal; font-weight: normal;}
ol, ul
{ list-style: none;}
caption, th
{ text-align: left;}
h1, h2, h3, h4, h5, h6
{ font-size: 100%; font-weight: normal;}
q:after, q:before
{ content:'';}
a, input
{ /* outline: none; */ }
abbr, acronym
{ border: 0;}
#wrapper a:hover {
	color: #fdd642; 
}
#wrapper input:focus,
#wrapper select:focus,
#wrapper button:focus{
	outline: 0;
	box-shadow: none;
}
/* !Clearfix
---------------------------------------------------------- */
.clearfix {
	display: block;
	min-height: 1%;
}
.clearfix:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .clearfix {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
canvas{
  display:block;
  vertical-align:bottom;
}
/* !For Flex Box
---------------------------------------------------------- */
*{
min-height: 0;
min-width: 0;
}
/* !For Select Icon Remove
---------------------------------------------------------- */
select {
	appearance:none;
	-webkit-appearance:none; /* chrome and safari */
	-moz-appearance:none; /* Mozilla */
	-ms-appearance:none; /* Internet explorer */
}
select:focus {
	outline: 0;	
}
/* !Layout
---------------------------------------------------------- */
html { overflow-y: scroll;}
body { 
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
@media print {
	html,
	html body { *zoom: 0.65;}
}
/* !Base Fonts -------------------------------------------------------------- */
a {
	color: #337ab7;
	text-decoration: none;
	-o-transition: all 0.5s ;
	transition: all 0.5s ;
	-moz-transition: all 0.5s ; /* Firefox */
	-webkit-transition: all 0.5s ; /* Chrome&Safari */
}
a:hover {
	-o-transition: all 0.5s !important;
	transition: all 0.5s !important;
	-moz-transition: all 0.5s !important; /* Firefox */
	-webkit-transition: all 0.5s !important; /* Chrome&Safari */
}
.op img,
.op input {
	-webkit-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;	
}
.op:hover img,
.op:hover input {
	opacity: .7;
	-webkit-opacity: .7;
	-moz-opacity: .7;
	filter: alpha(opacity=70);	/* IE lt 8 */
	-ms-filter: "alpha(opacity=70)"; /* IE 8 */
	-webkit-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}
/*slick slider Start*/
.slider {
    width: 50%;
    margin: 100px auto;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
    color: black;
}
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}    
.slick-active {
    opacity: .5;
}
.slick-current {
    opacity: 1;
}
/*slick slider end*/
.visiblePC {
	display: block;
}
.visibleTS {
	display: none;
}
@media screen and (max-width: 991px) {
.visibleTS {
	display: block;
}
.visiblePC {
	display: none;
}
br{
	display: none;	
}
}
@media screen and (max-width: 1199px) {
	#wrapper .container{
		width:100%;
		max-width: 100%;
	}
}
/* !wrapper
---------------------------------------------------------- */
#wrapper {
	min-width:320px;
	font-family: 'Poppins', sans-serif;
	color: #292e34;
}
#wrapper p, 
#wrapper h1,
#wrapper h2, 
#wrapper h3,
#wrapper h4,
#wrapper h5,
#wrapper h6,
#wrapper ul{
	margin:0;
}
#wrapper ul,#wrapper p{
	padding:0;
}
/* !header
---------------------------------------------------------- */
#header.header-fixed {
    box-shadow: 0 0 3px 2px #a3a5a7;
}
#header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	background: #fdd642;
}
#headerIn {
	padding:16px 0; 
}
#headerLogo{
	line-height: 35px;
}
#headerLogo img{
	width: 172px;
	margin-right: 10px;
}
.header-gnavi{
	display: flex;
	align-items: center;
}
#gNavi ul{
	display: flex;
}
#gNavi li{
	position: relative;
}
#gNavi li a {
	display: block;
	color: #292e34;
	text-decoration: none;
	font-size:15px;
	line-height: 1.3;
	font-weight: 500;
	margin-left: 22px;
	padding: 3px 0;
	text-transform: capitalize;
	transition: all 0s ease;
	border-bottom: solid 3px transparent;
}
#gNavi li:hover a{
    color: #292e34;
    font-weight: 600;
    border-bottom: solid 3px #292e34;
}
#headerLinks a:first-child{  
	margin-left: 0;
}
#headerLinks a{  
	display: inline-block;
	color: #292e34;
	text-decoration: none;
	font-size:15px;
	line-height: 1.3;
	font-weight: 500;
	margin-left: 22px;
	text-transform: capitalize;
}
#headerLinks a:hover{
	color: #292e34; 
}
#headerLinks a img{
	width: 25px; 
}
#wrapper p.navbarToggle {
	text-align: right;
} 
#wrapper p.navbarToggle img {
	width: 35px;
	cursor: pointer;
}
/*navi dropdown S
--------------------*/
.navi-dropdown-wrapper {
	display: none;
    position: absolute;
    top: 100%;
    left: 22px;
    width: 400px;
    background: #fff;
    padding: 15px 20px;
}
#gNavi li:hover .navi-dropdown-wrapper{
	display: block;	
}
.drop-flex{
	display: flex;
	flex-wrap: wrap;
}
.drop-item1{
	max-width: 50%;
	flex: 0 0 50%;
}
#gNavi .navi-dropdown-wrapper ul{
	display: block;
	margin-top: 10px;
}
#gNavi .navi-dropdown-wrapper ul li a {
    margin: 0 0 8px;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    border: 0;
}
#gNavi .navi-dropdown-wrapper ul li a:hover{
	border:0;
}
/* Navi dropdown for Mobile S
------------------------------*/
.navi-dropdown-wrapper-sp {
	display: none;
    width: 350px;
    margin: 0 auto 10px;
    background: #fff;
    padding: 12px 20px 6px;
    border-radius: 4px;
    box-shadow: 0 0 3px #888282;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    top: 100%;
}
.navbarCollapse .navi-dropdown-wrapper-sp li{
    text-align: left;
}
#wrapper .navbarCollapse .navi-dropdown-wrapper-sp .title-drop {
    text-align: left;
    color: #292e34;
    margin: 0 0 10px;
}
.navbarCollapse .navi-dropdown-wrapper-sp li a {
    color: #000;
    font-size: 14px;
    margin: 0 0 4px;
    text-transform: capitalize;
}
@media screen and (max-width: 576px){
	.navi-dropdown-wrapper-sp {
	    width: 290px;
        padding: 20px 20px 12px;
	}
	.drop-item1 {
    	max-width: 100%;
    	flex: 0 0 100%;
    	margin-bottom: 10px;
	}
	.drop-item1:last-child {
		margin-bottom: 0;
	}

}
/* Navi dropdown for Mobile E
------------------------------*/
@media screen and (max-width: 1199px){
	.navi-dropdown-wrapper {
    	width: 350px;
	}
	#gNavi .navi-dropdown-wrapper ul li a {
    	font-size: 13px
	}
}
/*navi dropdown E
--------------------*/
/********************/
/*login header S
--------------------*/
.header-login #headerIn{
	padding: 16px 50px;
}
.search-wrapper{
	display: inline-block;
}
.search-field {
    background: #fff;
    border-radius: 15px;
    color: #a9a9a9;
    font-weight: 300;
    border: 0;
    padding: 8px 12px;
    max-width: 342px;
    text-align: center;
    width: 342px;
}
@media screen and (max-width: 1530px) {
	.search-field {
	    max-width: 278px;
	    width: 278px;
	}	
}
@media screen and (max-width: 1400px) {
	.search-field {
	    max-width: 228px;
	    width: 228px;
	}	
}
@media screen and (max-width: 1300px) {
	.search-field {
	    max-width: 178px;
	    width: 178px;
		font-size: 14px;
	}	
}
@media screen and (max-width: 1199px) {
	.search-field {
	    max-width: 134px;
	    width: 134px;
		font-size: 10px;
	}	
}
/*login header E
--------------------*/
@media screen and (max-width: 1199px) {
	#headerIn {
    	padding: 15px 15px;
	}
	#headerLogo{
		line-height: 26px;
	}
	#headerLogo img {
    	width: 132px;
    }	
    #gNavi li a {
		font-size:14px ;
	}
    #headerLinks a {
	    font-size: 14px;
	    margin-left: 14px;
    }
}
.visibleTS{
	display: none;
}
@media screen and (max-width: 991px) {
	.visibleTS{
		display: block;
	}
	#gNavi{
		display: none;
	}
	#headerLinks{
		display: none;
	}
	.header-login #headerIn {
    	padding: 15px;
	}	
}
@media screen and (max-width: 576px) {
	#headerLogo img {
    	width: 100px;
	}
	#wrapper p.navbarToggle img {
    	width: 28px;
    }
}
/* !navbarCollapse
---------------------------------------------------------- */
.menuShow .navbarCollapse{
/*	visibility: visible;
  	opacity: 1;
  	max-height: 450px;
	padding: 20px;*/
	display: block;
}
.menuShow .navbarCollapse li:hover .navi-dropdown-wrapper-sp{
	display: block;
}
.navbarCollapse {
/*	visibility: hidden;
	overflow: hidden;
	max-height: 0;*/
	display: none;
	transition: all 0.3s ease-in-out;
	position: absolute;
	padding: 20px;
	background:#e9c55e;
	width: 100%;
	top: 100%;
	box-sizing: border-box;
	text-align: center;
}
.navbarCollapse ul:first-child{
	display: inline-block;
}
.navbarCollapse li{
	position: relative;
	text-align: center;
}
.navbarCollapse li a {
	position: relative;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
    display: inline-block;
    margin: 0 0 10px;
}
.navbarCollapse li a:hover{
	color: #292e34;
}
.menu-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 !important;
}
.menu-login li{
	margin: 0 8px;
}
.menu-login li img{
	width: 30px;
}
.menu-login li .search-field{
	max-width: 230px;
    width: 230px;
    font-size: 15px;
}
@media screen and (max-width: 767px){
	.menu-login {
	    display: block;
	    margin: 0px 0 0 !important;
	}
	.search-wrapper {
	    display: block;
	    max-width: 320px;
	    margin: 0 auto;
	}
	.menu-login li .search-field {
	    max-width: 100%;
	    width: 100%;
	    font-size: 15px;
	    margin: 0 0 10px;
	}
}
/* !mainimg
---------------------------------------------------------- */
#mainimg {
	text-align: center;
	position: relative;
}  
#mainimg img{
	width: 100%;
}  
#mainimg h2 {
    font-size: 42px;
    font-weight: 600;
    margin: 0 0 15px;
}
#mainimg input {
    background: #fff;
    border-radius: 15px;
    color: #a9a9a9;
    font-weight: 300;
    border: 0;
    padding: 14px 22px;
    width: 520px;
    text-align: center;
}
.banner-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
@media screen and (max-width: 1200px){
	#mainimg h2 {
	    font-size: 36px;
	    margin: 0 0 10px;
	}
	#mainimg input {
    	width: 452px;
    }
}
@media screen and (max-width: 991px){
	#mainimg h2 {
    	font-size: 28px;
    	margin: 0 0 5px;
    }
    #mainimg input {
	    color: #a9a9a9;
	    padding: 12px 18px;
	    width: 326px;
    }
}
@media screen and (max-width: 767px){
	#mainimg {
    	margin: 54px 0 0;
	}
	#mainimg h2 {
    	font-size: 24px;
    	margin-bottom: 8px;
    }
    #mainimg input {
	    padding: 10px 18px;
	    width: 280px;
	    font-size: 14px;
	}
}
@media screen and (max-width: 600px){	
	.banner-desc {
    	margin-top: -25px;
    }	
}
@media screen and (max-width: 576px){
	#mainimg {
    	margin: 46px 0 0;
	}
}
@media screen and (max-width: 400px){
	#mainimg img {
	    height: 180px;
	}	
	#mainimg h2 {
	    font-size: 20px;
	    margin-bottom: 6px;
	}
	#mainimg input {
	    padding: 8px 18px;
	    width: 250px;
	}
}
/* Breadcrumb S 
----------------------------------------------------------*/
#wrapper .container-padding{
	padding: 0 50px;
}
.breadcrumb-wrapper {
    margin: 107px 0 22px;
}
.breadcrumb-wrapper ul li {
    display: inline-block;
    margin: 0 5px 0 0;
	font-size: 16px;
	color: #292e34;
	font-weight: 600;
	text-transform: capitalize;
}
.breadcrumb-wrapper ul li a{
	display: inline-block;
	font-size: 16px;
	color: #292e34;
	font-weight: 600;
	text-transform: capitalize;
	text-decoration: none;
}
@media screen and (max-width: 767px){
	.breadcrumb-wrapper ul li a {
	    font-size: 14px;
	}
}
/* Breadcrumb E
----------------------------------------------------------*/
.custom-row{
	display: flex;
    flex-wrap: wrap;
}
.article-wrapper{
	margin: 150px 0 0;
}
.aside-tab-wrapper {
    height: 100%;
    border: solid 1px #e1e1e1;
    margin: 0 -15px;
    border-bottom: 0;
    /*border-left: 0;*/
}
.aside-tab-wrapper ul li a {
    display: block;
    padding: 15px 32px;
    border-bottom: solid 1px #e1e1e1;
    color: #292e34;
    transition: all 0.3s ease-in-out;	
}
#wrapper .aside-tab-wrapper ul li a:hover,
#wrapper .aside-tab-wrapper ul li a.active{
    color: #292e34;
    text-decoration: none;
    font-weight: 600;
}
.aside-tab-wrapper ul li a img{
	width: 30px;
    height: 25px;
	object-fit: contain;
	margin-right: 10px;	
}
@media screen and (max-width: 991px){
	.article-wrapper {
    	margin: 95px 0 0;
	}
	.aside-tab-wrapper ul li a {
	    padding: 12px 15px;
	    font-size: 15px;
	}
	.aside-tab-wrapper ul li a img {
	    width: 25px;
	    height: 22px;
	    margin-right: 6px;
	}
}
@media screen and (max-width: 767px){
	.aside-tab-wrapper {
    	border: solid 1px #e1e1e1;
    }
    .aside-tab-wrapper ul li:last-child a{
    	border-bottom: 0;
    }
    .article-wrapper {
    	margin: 80px 0 0;
	}
}
/* !user admin
---------------------------------------------------------- */
/* !pageTop
---------------------------------------------------------- */
.pageTop {
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 99999;
    border: solid 3px #292e34;
    padding: 4px 5px;
    cursor: pointer;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #fcd469;
}
.pageTop img {
    width: 22px;
    vertical-align: top;
}
/* !footer
---------------------------------------------------------- */
.inner-footer{
	background: #292e34;
	padding: 50px 0;
	color: #fff;
}
.inner-foot-det {
    padding: 0 75px 0 0;
}
#wrapper .foot-title {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 30px;
} 
.phone-num{
	display: inline-block;
	color: #fff;
	font-size: 15px;
}
.phone-num img {
    margin-right: 6px;
    width: 22px;
}
.location-wrapper{
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0 0;
}
.location-wrapper .loca-icon{
	width:28px; 
}
.location-wrapper .loca-icon img{
	width:22px; 
}
.location-wrapper p {
    color: #fff;
    font-size: 15px;
    width: calc(100% - 28px);
}
.foot-text{
    color: #fff;
    font-size: 15px;
}
#wrapper .social-link {
    display: flex;
    padding: 20px 0 0 28px;
}
#wrapper .social-link li{
	margin-right: 20px;
}
.footer-link li a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.subscribe-wrapper{
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0 0 0;
}
.subscribe-wrapper input {
    width: calc(100% - 125px);
    border: 0;
    padding: 14px 15px;
    color: #a9a9a9;
    font-weight: 400;
}
.subscribe-wrapper button {
    width: 125px;
    border: 0;
    background: #fcd469;
    color: #292e34;
    text-transform: capitalize;
    font-weight: normal;
}
.copyright {
	background: #fcd469;
	font-size: 16px;
	color: #292e34;
	padding: 15px 15px;
	text-align: center;
}
@media screen and (max-width: 991px){
	.inner-footer {
    	padding: 30px 0;
    }	
	.inner-foot-det {
    	padding: 0 20px 0 0;
	}
	#wrapper .foot-title {
	    font-size: 18px;
	    margin: 0 0 20px;
	}
	.location-wrapper {
	    margin: 12px 0 0;
	}
	.location-wrapper p {
    	font-size: 14px;
    }
    .footer-link li a {
	    font-size: 14px;
	    margin-bottom: 5px;
	}
	.foot-text {
    	font-size: 14px;
	}
	.subscribe-wrapper input {
	    width: calc(100% - 100px);
	    padding: 10px 12px;
	    font-size: 14px;
	}
	.subscribe-wrapper button {
	    width: 100px;
	    font-size: 14px;
	}
	.copyright {
	    font-size: 14px;
	    padding: 10px 12px;
    }
}
@media screen and (max-width: 767px){
	.inner-foot-det {
    	padding: 0;
		max-width:500px;
		margin: auto; 
	}
	.inner-footer {
	    padding: 22px 0;
	    text-align: center;
	}
	#wrapper .social-link {
	    display: flex;
	    padding: 20px 0 30px;
	    justify-content: center;
	}
	#wrapper .social-link li {
    	margin: 0 8px;
	}
	#wrapper .social-link li img{
    	width: 46px;
    }
    #wrapper .footer-link{
		margin-bottom: 30px;
    }
    .subscribe-wrapper {
	    max-width: 290px;
	    margin: 20px auto 0;
	}
}
/* !Common
---------------------------------------------------------- */
.section {
	padding: 100px 0;
}
.custom-row{
	display: flex;
    flex-wrap: wrap;
}
#wrapper .title{
	font-size:36px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 12px;
}
.subTitle1 {
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
}
.subTitle {
    font-size: 26px;
    font-weight: 500;
    text-transform: capitalize;
}
.title-drop{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;	
}
.small-title{
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
#wrapper .title-desc {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.dragTitle{
	color: #aaaaac;
	font-size: 17px;
}
.text-underline {
    display: inline-block;
    border-bottom: solid 1px #292e34;
}
.with-wishlist{
    position: relative;
}
.with-wishlist span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 99;
}
.with-wishlist img{
	width: 26px;
}
.common-text{
	font-size: 16px;
}
.common-text1 {
    font-size: 16px;
    line-height: 1.7;
    font-weight: 500;
    text-align: justify;
}
.common-text2 {
    font-size: 20px;
    line-height: 1.7;
    font-weight: 500;
}
.small-common-text{
    font-size: 15px;
    line-height: 1.7;
    font-weight: 500;
}
.common-btn {
    display: inline-block;
    padding: 16px 18px;
    color: #292e34;
    border: solid 1px #292e34;
    font-size: 16px;
    z-index: 2;
    font-weight: 600 !important;
    min-width: 162px;
    text-align: center;
}
#wrapper .common-btn:hover,
#wrapper .common-btn:focus{
    text-decoration: none;
    background: #fcd469;
    outline: 0;
    color: #292e34;
}
.common-btn-rds {
    display: inline-block;
    padding: 12px 18px;
    color: #292e34;
    border: solid 2px #fcd469;
    font-size: 16px;
    z-index: 2;
    font-weight: 600 !important;
    min-width: 162px;
    border-radius: 50px;
    text-align: center;
    background: transparent;
}
.common-btn-rds:hover {
	background: #292e34;
    color: #fcd469;
    border: solid 2px #292e34;
    text-decoration: none;
}
.full-btn {
    display: block;
    padding: 10px 12px;
    background: linear-gradient(to right,#ffd802, #fcd467);
    color: #292e34;
    width: 100%;
    border: 0;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 2px;
}
#wrapper .full-btn:hover,
#wrapper .full-btn:focus {
    text-decoration: none;
    outline: 0;
    color: #292e34;
} 
.btn-wrapper-center {
	text-align: center;
}
.btn-wrapper-center .another-common-btn{
	margin: 0 12px;
}
.another-common-btn {
    display: inline-block;
    padding: 10px 22px;
    background: linear-gradient(to right,#ffd802, #fcd467);
    color: #292e34;
    border: 0;
    font-size: 16px;
    z-index: 2;
    font-weight: 600 !important;
    min-width: 183px;
    border-radius: 50px;
    text-align: center;
    text-transform: capitalize;
}
.small-btn {
    min-width: 132px;
    padding: 8px 12px;
    font-size: 15px;
}
.drk-btn.another-common-btn {
	background: #292e34;
	color: #fff;
}
#wrapper .another-common-btn:hover{
    background: linear-gradient(to right,#ffd802, #fcd467);
    color: #292e34;
    text-decoration: none;
}
.btn-width-150{
    min-width: 150px;
}
.btn-increase-width{
    min-width: 450px;
}
.btn-increase-width1{
    min-width: 300px;
}
.step-btn{
 	display: inline-block;
    padding: 12px 22px;
    background:#fff;
    border: solid 1px #9e9e9e;
    color: #292e34;
    font-size: 16px;
    z-index: 2;
    font-weight: 600 !important;
    min-width: 262px;
    border-radius: 50px;
    text-align: center;
    text-transform: capitalize;
}
#wrapper .step-btn:hover{
	text-decoration: none;
	color: #292e34;
}
.step-btn.active{
	background:#fcd469;
	border: solid 1px #fcd469;
}
.rangeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    background: #dddede;
    border-radius: 3px;
    outline: none;
    transition: opacity .2s;
}
.rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50px; 
    background: #fcd469;
    border:solid 4px #fff; 
    cursor: pointer;
    box-shadow: 0 0 3px #969090;
}
.rangeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
.f-w-n{
	font-weight: normal !important;
}
.f-w-500{
	font-weight: 500 !important;
}
.f-w-600{
	font-weight: 600 !important;
}
.f-w-bold{
	font-weight: bold !important;
}
.rat-tagline{
	display: block;
	font-size: 13px;
	color: #a9a9a9;
}
.custom-dropdown .btn {
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0 10px;
    letter-spacing: 1px;
}
.custom-dropdown .dropdown-toggle::after  {
	display: none;
}
.custom-dropdown .dropdown-menu {
    border-radius: 0;
}
.custome-upload{
    position: relative;
}
.custome-upload input {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    opacity: 0;
	cursor: pointer;
}
.cutome-badge {
    width: 22px;
    height: 22px;
    background: #fcd469;
    border-radius: 50%;
    text-align: center;
    color: #292e34;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
}
.remove-bdr-rds{
	border-radius: 0 !important; 
}
/* Width Style S
----------------------------*/
.imgWidth {
    width: 18px;
}
.width-150{
	width: 150px;
}
.width-full{
	width: 100%;
}
.width-170{
	max-width: 170px !important;
    flex: 0 0 170px !important;
}
.width-rem-170{
	max-width: calc(100% - 170px) !important;
    flex-basis: calc(100% - 170px) !important;	
}
.width-300{
	max-width: 300px !important;
    flex: 0 0 300px !important;
}
.width-rem-300{
	max-width: calc(100% - 300px) !important;
    flex-basis: calc(100% - 300px) !important;	
}
.width-120{
	max-width: 120px !important;
    flex: 0 0 120px !important;
}
.width-rem-120{
	max-width: calc(100% - 120px) !important;
    flex-basis: calc(100% - 120px) !important;	
}
@media screen and (max-width: 576px){
	.width-120{
		max-width: 60px !important;
	    flex: 0 0 60px !important;
	}
	.width-rem-120{
		max-width: calc(100% - 60px) !important;
	    flex-basis: calc(100% - 60px) !important;	
	}		
}
/* Width Style E
----------------------------*/
/****************************/
/* Height Style S
----------------------------*/
.height-full {
	height: 100%;
}
/* Height Style E
----------------------------*/
/****************************/
/* Radius Style S
----------------------------*/
.radius-8{
	border-radius: 8px;
}
/* Radius Style E
----------------------------*/
/****************************/
/* Image Responsive Style S
----------------------------*/
.img-responsive1{
	height: 130px;
    width: 100%;
    object-fit: cover;
}
/* Image Responsive Style E
----------------------------*/
/****************************/
/* Border Style S
----------------------------*/
.bdr-btm{
	border-bottom: solid 1px #eaeaea;
}
/* Border Style E
----------------------------*/
/****************************/
/*Table Style S
----------------------------*/
.common-tbl{
	width: 100%;
}
.common-tbl tr th,
.common-tbl tr td{
	font-weight: 500;
    padding: 0 0 15px;
}
.common-tbl tr:last-child th,
.common-tbl tr:last-child td{
	padding-bottom: 0;
}
/*Table Style E
----------------------------*/
/****************************/
/*Modal Style S
----------------------------*/
.modal-wrapper.modal{
	z-index: 9999;
}
.modal-wrapper .modal-title{
	width: 100%;
	padding-top: 15px;
} 
.modal-wrapper .modal-content{
	padding: 0 0 50px; 
	border-radius: 16px;
}
.modal-wrapper .modal-header{
	border-bottom: 0 ;
}
.modal-wrapper .modal-body{
	padding: 0 100px ;
}
.modal-wrapper .modal-header .close {
    background: #fcd469;
    opacity: 1;
    border-radius: 50%;
    padding: 0;
    width: 36px;
    height: 36px;
    margin: -10px -10px 0 0;
}
.modal-wrapper .modal-header .close span{
	line-height: 20px;
    font-size: 30px;
 	display: inline-block;
}  
@media screen and (max-width: 991px){
	.modal-wrapper .modal-body {
    	padding: 0 1rem;
	}
} 
@media screen and (max-width: 767px){
	.modal-wrapper	.font-size-28 {
    	font-size: 22px;
	}
	.modal-wrapper .modal-header .close {
    	width: 28px;
    	height: 28px;
	}
	.modal-wrapper .modal-header .close span {
	    line-height: 22px;
	    font-size: 22px;
	    vertical-align: top;
	}
	.modal-wrapper .font-size-16 {
    	font-size: 14px;
	}
}
/*Modal Style E
----------------------------*/
/****************************/
/*Pagination S
----------------------------*/
.pagination-wrapper{
	padding: 0 0 50px;
}
.pagination-wrapper .page-link{
    border: 1px solid #292e34;
	color: #292e34;
}
#wrapper .pagination-wrapper .page-link.active,
#wrapper .pagination-wrapper .page-link:hover {
    border: 1px solid #292e34;
    color: #fff;
    background: #292e34;
}
/*Pagination S
----------------------------*/
/****************************/
/*Custom Dropdown S
----------------------------*/
.custom-drop {
    display: inline-block;
    margin-left: 22px;
}
.custom-drop .btn-primary{
	background: transparent;
    border: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
    color: #292e34;
}
.custom-drop .btn-primary:active,
.custom-drop .btn-primary:focus,
.custom-drop .btn-primary:hover{
	background: transparent !important;
	color: #292e34 !important;
}
.custom-drop .dropdown {
    display: inline-block;
}
.custom-drop > img {
    width: 42px;
    height: 42px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 8px;
}
.custom-drop .dropdown-menu.show {
    padding: 0;
}
.custom-drop .dropdown-menu a {
    padding: 8px 12px;
    margin: 0 !important;
    color: #212529;
    border-bottom: solid 1px #d5d9de;
}
.custom-drop .dropdown-menu a:hover {
    background: #fdd642;
}
.custom-drop .dropdown-menu a:last-child {
    border-bottom: 0;
}
.show>.btn-primary.dropdown-toggle {
	background: transparent !important;
	color: #292e34 !important;
	border: 0 !important;
}
.custom-drop .dropdown-menu{	
	margin-left: -50px;
    margin-top: 11px;
}
@media screen and (max-width: 1235px){
	.custom-drop {
    	margin-left: 12px;
	}
	.custom-drop > img {
	    width: 32px;
	    height: 32px;
    }
}
@media screen and (max-width: 995px){
	.custom-drop {
    	margin-left: 10px;
	}
}
@media screen and (max-width: 991px){
	.custom-drop {
    	margin-left: 0;
	}
	.custom-drop > img {
	    width: 36px !important;
	    height: 36px !important;
	}
}
@media screen and (max-width: 991px){
	.custom-drop {
    	margin-bottom: 10px;
	}
}
/*Custom Dropdown S
----------------------------*/
/*Common Responsive S
----------------------------*/
@media screen and (max-width: 1199px){
	.common-btn {
	    font-size: 14px;
	    padding: 12px 14px;
		min-width: 110px;
	}
	.subTitle1 {
    	font-size: 25px;
    }
    .common-text1 {
    	font-size: 15px;
    }	
    .title-drop{
    	font-size: 16px;
    }
}
@media screen and (max-width: 991px){
	.section {
	    padding: 62px 0;
	}
	#wrapper .title {
	    font-size: 30px;
	    margin-bottom: 6px;
	}
	#wrapper .title-desc {
	    font-size: 15px;
	    font-weight: 500;
	    margin-bottom: 10px;
	}
	.common-text {
    	font-size: 15px;
	}
	.subTitle {
    	font-size: 22px;
   	}
	.sp-center{
		text-align: center;
	}
	.sp-left{
		text-align: left;
	}
	.sp-right{
		text-align: right;
	}
}
@media screen and (max-width: 767px){
	.wrapper-title{
		padding: 0 15px;
	}
	.section {
	    padding: 40px 0px;
	}
	#wrapper .title {
	    font-size: 25px;
	    margin-bottom: 6px;
	    font-weight: 400;
	}
	#wrapper .title-desc {
	    font-size: 14px;
	    margin-bottom: 8px;
	}
	.common-text {
    	font-size: 14px;
	}
	.common-btn-rds{
		padding: 6px 12px;
		min-width: 130px;
	    font-weight: 500 !important;
	    font-size: 14px;
	}
	.subTitle1 {
    	font-size: 22px;
	}
	.btn-wrapper-center .another-common-btn{
		margin: 0 8px 8px;
	}
	.another-common-btn {
	    padding: 8px 16px;
	    font-size: 14px;
	    min-width: 152px;
	}
	.btn-increase-width {
	    min-width: 280px;
	}
}
/* !Common
-----------------------------*/
/*****************************/
/*Color S
----------------------*/
.clr-rioja{
	color: #60c308;
}
.clr-common{
	color: #292e34 !important;
}
.clr-gray{
	color: #959698;
}

/*Color E
----------------------*/
/*****************************/
/*Product Details Style S
---------------------------*/
.warpper-product-slider{
    padding-bottom: 120px;
}
.product-tabs-wrapper .nav-tabs {
    border-bottom: 0;
    margin-bottom: 30px;
}
.product-tabs-wrapper .nav-tabs a {
    display: block;
    width: 33.33%;
    border: 0;
    padding: 4px 22px 8px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: #97989a;
    position: relative;
}
#wrapper .product-tabs-wrapper .nav-tabs a:hover,
.product-tabs-wrapper .nav-tabs a.active {
    color: #292e34;
}
.product-tabs-wrapper .nav-tabs a.active:after {
    position: absolute;
    content: "";
    width: 252px;
    height: 3px;
    background: #fcd469;
    /*z-index: 99;*/
    bottom: 0;
    left: 0;
}
.relevent-pro .product-list {
    box-shadow: 0 0 6px 3px #f3efef;
}
.relevent-pro .rent-details{
	background: #f7f7f7;
}
#wrapper .rating-wrapper {
    margin-bottom: 20px;
    display: inline-block;
    padding: 2px 7px;
    border-radius: 8px;
    box-shadow: 0 0 3px #a5a1a1;
}
#wrapper .rating-wrapper li{
    display: inline-block;
    margin:0 2px; 
}
#wrapper .rating-wrapper li img{
    width: 16px;
}
.rang-wrapper{
    margin: 30px 0;
}
.rang-wrapper > div{
    margin:0  22px 10px 15px;
}
.product-details{
    margin-bottom: 30px;
}
.week-amount {
    display: flex;
    flex-wrap: wrap;
}
.week-amount li{
    width: 33.33%;
}
.week-amount li p{
    position: relative;
}
.week-amount li span{
	display: inline-block;
	font-weight: bold;
}
.week-amount li:nth-child(1) p:after {
    content: "";
    position: absolute;
    top: -18px;
    left: 16px;
    z-index: -1;
    background: rgba(0,0,0,0.5);
    width: 5px;
    height: 15px;
}
.week-amount li:nth-child(2){
    text-align: center;
}
.week-amount li:nth-child(2) p:after {
    content: "";
    position: absolute;
    top: -18px;
    left: 50%;
    z-index: -1;
    background: rgba(0,0,0,0.5);
    width: 5px;
    height: 18px;
    transform: translateX(-50%);
    margin-left: -2.5px;
}
.week-amount li:nth-child(3){
    text-align: right;
}
.week-amount li:nth-child(3) p:after {
    content: "";
    position: absolute;
    top: -18px;
    right: 22px;
    z-index: -1;
    background: rgba(0,0,0,0.5);
    width: 5px;
    height: 15px;
}
#wrapper .amount-wrapper {
    display: flex;
    flex-wrap: wrap;
    background: #fcd469;
    padding: 10px 32px;
    border-radius: 8px;
}
#wrapper .amount-wrapper li {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 18px;
    width: 50%;
}
#wrapper .amount-wrapper li:last-child {
    font-weight: bold;
    text-transform: initial;
    text-align: right;
}
#wrapper .checkability h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.datepicker-wrapper{
	display: flex;
	justify-content: space-between;
}
.react-datepicker-wrapper{
	width: 48%;
}
.datepicker-wrapper input {
    width: 100%;
    padding: 10px 36px 10px 20px;
    border-radius: 10px;
    border: solid 1px #575858;
    color: #595c5f;
    font-size: 14px;
    background: url(/assets/img/icon/icon_date.png) no-repeat scroll right 15px center;
    background-size: 25px auto;
}
/*.datepicker-wrapper input:first-child {
    margin-right: 4%;
}*/
#wrapper .product-not-sms{
    font-size: 14px;
    color: #e60505;
    font-weight: 500;
    margin-top: 4px;
}
#wrapper .big-rating.rating-wrapper li img {
    width: 22px;
}
#wrapper .big-rating.rating-wrapper {
    padding: 5px 10px;
}
#wrapper .big-rating.rating-wrapper {
    margin: 8px 10px 0 0;
}
.rat-label {
    font-size: 16px;
    color: #97989a;
    font-weight: 500;
    text-transform: capitalize;
}
.rating-sub-wrapper{
    margin: 50px 0 70px;
}
.review-text textarea {
    display: block;
    padding: 12px 16px;
    border: 0;
    width: 100%;
    height: 100px;
    border-radius: 8px;
    background: #f7f7f7;
    font-size: 14px;
}
.rat-btn-m{
    margin-top: 40px;
}
.all-review{
    padding-right: 70px;
    margin-bottom: 50px;
}
#wrapper .all-review .rating-wrapper{
    margin-bottom: 10px;
}
.question-field input{
    background: #f7f7f7;
    font-size: 15px;
    padding: 8px 22px;
    border: 0;
    border-radius: 50px;
    width: 520px;
    margin-left: 8px;
    color: #a9a9a9;
}
.inner-ques{
    display: flex;
    flex-wrap: wrap;
}
.inner-ques div:first-child{
    width: 80px;
}
.inner-ques div:last-child{
    width:calc(100% - 80px);
}
.wrapper-ques{
    margin: 30px 0;
}
.wrapper-ques .col-lg-4{
    margin-bottom: 30px;
}
.only-img-slider .alice-carousel .alice-carousel__next-btn,
.only-img-slider .alice-carousel .alice-carousel__prev-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: auto;
    padding: 0;
}
.only-img-slider .alice-carousel .alice-carousel__next-btn{
    left: -10px;
}
.only-img-slider .alice-carousel .alice-carousel__prev-btn{
    right: -10px;
}
.only-img-slider .alice-carousel .alice-carousel__next-btn p{
    background:#fff url(/assets/img/icon/icon_arrow_left1.png) no-repeat scroll center center;
    padding: 0;
    box-shadow: 0 0 6px 3px #e3dada;
    width: 24px;
    height: 24px;
    background-size: 6px auto;
    border-radius: 50px;
}
.only-img-slider .alice-carousel .alice-carousel__prev-btn p{
    background:#fff url(/assets/img/icon/icon_arrow_right1.png) no-repeat scroll center center;
    padding: 0;
    box-shadow: 0 0 6px 3px #e3dada;
    width: 24px;
    height: 24px;
    background-size: 6px auto;
    border-radius: 50px;
}
.only-img-slider .alice-carousel .alice-carousel__next-btn span,
.only-img-slider .alice-carousel .alice-carousel__prev-btn span{
    display: none;
}
.img-label {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 9;
    background: linear-gradient(to right, #fcdb7d, #fcd56d);
    padding: 5px 22px 5px 15px;
    font-size: 16px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
@media screen and (max-width: 1300px){
    #wrapper .relevent-pro .rent-wrapper {
        padding: 8px 8px;
    }
    .relevent-pro .wrapper-box {
        padding: 0 0;
    }
    .relevent-pro .widh-list img {
        width: 24px;
    }
    .relevent-pro .widh-list {
        right: 5px;
    }
}
@media screen and (max-width: 1199px){
    .product-details {
        margin-bottom: 20px;
    }
    .rang-wrapper {
        margin: 15px 0;
    }
    #wrapper .amount-wrapper {
        padding: 6px 22px;
    }
    #wrapper .amount-wrapper li {
        font-size: 16px;
    }
    .datepicker-wrapper input {
        padding: 6px 28px 6px 13px;
        background: url(/assets/img/icon/icon_date.png) no-repeat scroll right 8px center;
        background-size: 18px auto;
    }
    .product-tabs-wrapper .nav-tabs a {
        padding: 4px 15px 8px;
        font-size: 16px;
    }
    .product-tabs-wrapper .nav-tabs a.active:after {
        width: 225px;
    }
    .product-tabs-wrapper .nav-tabs {
        margin-bottom: 16px;
    }
    .relevent-pro .col-md-6.col-xl-3{
        margin-bottom: 30px;
    }
    .rating-sub-wrapper {
        margin: 30px 0 50px;
    }
    .all-review {
        padding-right: 0;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 991px){
    .warpper-product-slider {
        padding-bottom: 60px;
    }
    .warpper-product-slider .col-md-12.col-lg-7{
        margin-bottom: 30px;
    }   
    .product-tabs-wrapper .nav-tabs a {
        font-size: 15px;
    }
    .product-tabs-wrapper .nav-tabs a.active:after {
        width: 206px;
    }
    .relevent-pro .wrapper-box {
        margin-top: 30px;
    }
    #wrapper .container-padding {
        padding: 0 30px;
    }
    .rat-btn-m{
        margin-top: 20px;
    }
    .question-field input {
        width: 400px;
    }
    .wrapper-ques {
        margin: 20px 0;
    }
    .wrapper-ques .col-lg-4 {
        margin-bottom: 15px;
    }
    .wrapper-ques .small-common-text{
        font-size: 13px;
    }
    .inner-ques div:first-child {
        width: 70px;
    }
    .inner-ques div:last-child {
        width: calc(100% - 70px);
    }
}
@media screen and (max-width: 767px){
    #wrapper .container-padding {
        padding: 0 15px;
    }
    .product-tabs-wrapper .nav-tabs a {
        width: 100%;
        margin: 0 0 8px;
        padding: 4px 12px 8px;
    }
    .product-tabs-wrapper .nav-tabs a.active:after {
        width: 202px;
    }
    #wrapper .big-rating.rating-wrapper li img{
        width: 18px;
    }
    #wrapper .big-rating.rating-wrapper {
        padding: 2px 6px;
    }
    .rating-sub-wrapper {
        margin: 30px 0;
    }
    
}
@media screen and (max-width: 576px){
    .question-field input {
        width: 100%;
        margin-left: 0;
    }
    .datepicker-wrapper {
	    justify-content: initial;
	    flex-wrap: wrap;
	}
	.react-datepicker-wrapper {
	    width: 100%;
	    margin-bottom: 15px;
	}
}
/*Product Details Style E
---------------------------*/
/***************************/
/*Product List Style E
---------------------------*/
.product-offer-wrapper .row {
    background: #f4f4f4;
    margin-top: 105px;
    margin-bottom: 30px;
    box-shadow: 0 0 3px #d6cfcf;
    padding: 30px 80px;
}
#wrapper .product-det p {
    font-size: 15px;
    color: #6b6b6c;
    margin: 12px 0 0;
}
.product-offer{
    display: flex;
    flex-wrap: wrap;
}
.pro-img{
    width: 150px;
}
.product-det{
    width:calc(100% - 150px);
}
.product-list-wrapper{
    
}
.aside{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 292px;
    max-width: 292px;  
}
.main{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    flex: 0 0 calc(100% - 292px);
    max-width: calc(100% - 292px);  
}
.main .breadcrumb-wrapper{
    margin: 0;
}
.cate-product-list .product-list{
    margin-bottom: 30px;
}
.product-img{
    position: relative;
}
#wrapper .product-img .rating-wrapper {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 999;
    background: rgba(255, 255, 255,0.6);
    margin: 0;
    padding: 4px 5px;
}
#wrapper .product-img .rating-wrapper li {
    background: #fff;
    margin: 0;
    padding: 0 2px;
}
#wrapper .product-img .rating-wrapper li:first-child {
    padding-left: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius:8px;
}
#wrapper .product-img .rating-wrapper li:last-child {
    padding-right: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
#wrapper .product-img .rating-wrapper li img {
    height: auto;
    object-fit: fill;
}
.filter-title {
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 15px;
    border-bottom: solid 1px #bec0c2;
}
.filter-title img{
    width: 16px;
    vertical-align: middle;
}
.category-wrapper {
    padding: 8px 0 14px;
    border-bottom: solid 1px #bec0c2;
}
.category-wrapper .Collapsible .Collapsible__trigger {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    display: block;
    margin-top: 8px;
}
.category-wrapper .Collapsible.remove-mrg .Collapsible__trigger {
    margin-top: 20px;
}
.category-wrapper .Collapsible .Collapsible__trigger:after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    /*z-index: 99;*/
    right: 0;
}
.category-wrapper .Collapsible .Collapsible__trigger.is-closed:after {
    background: url('/assets/img/icon/icon_plus.png');
}
.category-wrapper .Collapsible .Collapsible__trigger.is-open:after {
    background: url('/assets/img/icon/icon_minus.png');
}
.category-wrapper .Collapsible__contentInner .Collapsible__trigger {
    font-weight: 600;
    display: inline-block;
    padding-right: 25px;
    font-size: 16px;
}
.category-wrapper .Collapsible__contentInner .Collapsible__trigger.is-closed:after {
    background: url('/assets/img/icon/icon_arrow_up.png');
    width: 12px;
    height: 12px;
}
.category-wrapper .Collapsible__contentInner .Collapsible__trigger.is-open:after {
    background: url('/assets/img/icon/icon_arrow_down.png');
    width: 12px;
    height: 12px;
}
#wrapper .categeory-item{
    padding: 12px 0;
}
#wrapper .categeory-item li{
    margin-bottom: 8px;
    font-size: 15px;
    text-transform: capitalize;
}
#wrapper .categeory-item li input{
    width: 22px;
    height: 18px;
    vertical-align: sub;
}
.category-wrapper .rang-wrapper{ 
    margin: 20px 0 0;
}
.category-wrapper .rangeSlider {
    height: 8px;
}
.category-wrapper .week-amount li p {
    font-size: 14px;
}
.category-wrapper .week-amount li:nth-child(1) p:after,
.category-wrapper .week-amount li:nth-child(3) p:after{
    width: 4px;
    height: 16px;
}
.category-wrapper .week-amount li:nth-child(2) p:after{
    width: 4px;
    height: 19px; 
}
.category-wrapper .rangeSlider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
}
#wrapper .categeory-item.out-item-cate{
    padding: 10px 0 0;
}
#wrapper .categeory-item.out-item-cate li{
    margin-bottom: 0;
}
.infilter-search {
    width: 100%;
    background: transparent url(/assets/img/icon/icon_search.png) no-repeat scroll left 20px center;
    border: solid 1px #292e34;
    border-radius: 50px;
    text-align: left;
    color: #292e34;
    padding: 8px 18px 8px 42px;
    margin-top: 18px;
}
.category-wrapper .rang-wrapper.only-range {
    margin: 12px 0 0;
}
.category-wrapper .rang-wrapper.only-range > div {
    margin: 0 0 5px;
}
@media screen and (max-width:1200px ){
    .product-offer-wrapper .row {
        padding: 30px 0;
    }
    .pro-img {
        width: 100px;
        padding-right: 20px;
    }
    .product-det {
        width: calc(100% - 120px);
    }
    .infilter-search {
        width: 100%;
        max-width: 100%;
    }   
}
@media screen and (max-width:991px ){
    .product-offer-wrapper .row {
        padding: 15px 0;
        margin-top: 82px;
    }
    .pro-img {
        width: 100%;
        padding-right: 0;
        padding-bottom: 12px;
    }
    .pro-img img {
        width: 82px;
        height: 82px;
        object-fit: contain;
    }
    .product-det {
        width: 100%;
    }
    .aside {
        flex: 0 0 230px;
        max-width: 230px;
    }
    .main {
        flex-basis: calc(100% - 230px);
        max-width: calc(100% - 230px);
    }
    .category-wrapper .Collapsible .Collapsible__trigger {
        font-size: 15px;
    }
    .category-wrapper .Collapsible__contentInner .Collapsible__trigger {
        font-size: 14px;
    }
    #wrapper .categeory-item li {
        font-size: 14px;
    }
    .custom-dropdown .btn {
        font-size: 15px;
    }
}
@media screen and (max-width:767px ){
    .product-offer {
        text-align: center;
    }
    .product-offer-wrapper .row {
        padding: 25px 0;
        margin-top: 80px;
    }
    .aside {
	    flex: 0 0 calc(100% - 30px);
	    max-width: calc(100% - 30px);
	    margin: 0 15px;
	}
    .main {
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 30px;
    	padding-bottom: 20px;
    }
    .text-right.custom-dropdown{
    }
    .custom-dropdown .btn {
        padding: 15px 0 0px;
    }
    #wrapper .product-img .rating-wrapper {
        bottom: 8px;
        right: 8px;
    }
    #wrapper .product-img .rating-wrapper li img {
        width: 12px;
    }
}
/*Product List Style E
---------------------------*/
/*****************************/
/* !Font-size
---------------------------------------------------------- */
#wrapper .font-size-12{
	font-size: 12px;
}
#wrapper .font-size-13{
	font-size: 13px;
}
#wrapper .font-size-14{
	font-size: 14px;
}
#wrapper .font-size-15{
	font-size: 15px;
}
#wrapper .font-size-16{
	font-size: 16px;
}
.font-size-16{
	font-size: 16px;
}
#wrapper .font-size-17{
	font-size: 17px;
}
#wrapper .font-size-18{
	font-size: 18px;
}
.font-size-19{
	font-size: 19px;
}
.font-size-20{
	font-size: 20px;
}
.font-size-21{
	font-size: 21px;
}
.font-size-22{
	font-size: 22px;
}
.font-size-23{
	font-size: 23px;
}
.font-size-24{
	font-size: 24px;
}
.font-size-25{
	font-size: 25px;
}
.font-size-26{
	font-size: 26px;
}
.font-size-27{
	font-size: 27px;
}
.font-size-28{
	font-size: 28px;
}
.font-size-29{
	font-size: 29px;
}
#wrapper .font-size-30{
	font-size: 30px;
}
.font-size-31{
	font-size: 31px;
}
.font-size-32{
	font-size: 32px;
}
.font-size-33{
	font-size: 33px;
}
.font-size-34{
	font-size: 34px;
}
.font-size-35{
	font-size: 35px;
}
.font-size-36{
	font-size: 36px;
}
.font-size-37{
	font-size: 37px;
}
.font-size-38{
	font-size: 38px;
}
.font-size-39{
	font-size: 39px;
}
.font-size-40{
	font-size: 40px;
}
.font-size-41{
	font-size: 41px;
}
.font-size-42{
	font-size: 42px;
}
.font-size-43{
	font-size: 43px;
}
.font-size-44{
	font-size: 44px;
}
.font-size-45{
	font-size: 45px;
}

@media screen and (max-width: 767px){
	#wrapper .font-size-30 {
    	font-size: 22px;
	}
}
/* !Padding & Margin
---------------------------------------------------------- */
.m-top-10{
	margin-top:10px !important;
}
#wrapper .m-top-10{
	margin-top:10px;
}
#wrapper .m-top-20{
	margin-top:20px;
}
#wrapper .m-top-30{
	margin-top:30px;
}
#wrapper .m-top-40{
	margin-top:40px;
}
#wrapper .m-top-50{
	margin-top:50px;
}
#wrapper .m-top-60{
	margin-top:60px;
}
#wrapper .m-top-70{
	margin-top:70px;
}
#wrapper .m-top-80{
	margin-top:80px;
}
#wrapper .m-top-90{
	margin-top:90px;
}
#wrapper .m-top-100{
	margin-top:100px;
}
/* !Margin Bottom
---------------------------------------------------------- */
#wrapper .m-bottom-0{
	margin-bottom:0 !important;
}
#wrapper .m-bottom-5{
	margin-bottom:5px;
}
#wrapper .m-bottom-10{
	margin-bottom:10px;
}
#wrapper .m-bottom-20{
	margin-bottom:20px;
}
#wrapper .m-bottom-30{
	margin-bottom:30px;
}
#wrapper .m-bottom-40{
	margin-bottom:40px;
}
#wrapper .m-bottom-50{
	margin-bottom:50px;
}
#wrapper .m-bottom-60{
	margin-bottom:60px;
}
#wrapper .m-bottom-70{
	margin-bottom:70px;
}
#wrapper .m-bottom-80{
	margin-bottom:80px;
}
#wrapper .m-bottom-90{
	margin-bottom:90px;
}
#wrapper .m-bottom-100{
	margin-bottom:100px;
}
#wrapper .m-bottom-150{
	margin-bottom:150px;
}
#wrapper .m-bottom-200{
	margin-bottom:200px;
}
/* !Margin left
---------------------------------------------------------- */
#wrapper .m-left-10{
	margin-left:10px;
}
#wrapper .m-left-20{
	margin-left:20px;
}
#wrapper .m-left-30{
	margin-left:30px;
}
#wrapper .m-left-40{
	margin-left:40px;
}
#wrapper .m-left-50{
	margin-left:50px;
}
#wrapper .m-left-60{
	margin-left:60px;
}
#wrapper .m-left-70{
	margin-left:70px;
}
#wrapper .m-left-80{
	margin-left:80px;
}
#wrapper .m-left-90{
	margin-left:90px;
}
#wrapper .m-left-100{
	margin-left:100px;
}
/* !Margin Right
---------------------------------------------------------- */
#wrapper .m-right-5{
	margin-right:5px;
}
#wrapper .m-right-10{
	margin-right:10px;
}
#wrapper .m-right-20{
	margin-right:20px;
}
#wrapper .m-right-30{
	margin-right:30px;
}
#wrapper .m-right-40{
	margin-right:40px;
}
#wrapper .m-right-50{
	margin-right:50px;
}
#wrapper .m-right-60{
	margin-right:60px;
}
#wrapper .m-right-70{
	margin-right:70px;
}
#wrapper .m-right-80{
	margin-right:80px;
}
#wrapper .m-right-90{
	margin-right:90px;
}
#wrapper .m-right-100{
	margin-right:100px;
}
/* !Padding Top
---------------------------------------------------------- */
#wrapper .p-top-0{
	padding-top:0;
}
#wrapper .p-top-10{
	padding-top:10px;
}
#wrapper .p-top-20{
	padding-top:20px;
}
#wrapper .p-top-30{
	padding-top:30px;
}
#wrapper .p-top-40{
	padding-top:40px;
}
#wrapper .p-top-50{
	padding-top:50px;
}
#wrapper .p-top-60{
	padding-top:60px;
}
#wrapper .p-top-70{
	padding-top:70px;
}
#wrapper .p-top-80{
	padding-top:80px;
}
#wrapper .p-top-90{
	padding-top:90px;
}
#wrapper .p-top-100{
	padding-top:100px;
}
/* !Padding Bottom
---------------------------------------------------------- */
#wrapper .p-bottom-0{
	padding-bottom:0 !important;
}
#wrapper .p-bottom-10{
	padding-bottom:10px;
}
#wrapper .p-bottom-20{
	padding-bottom:20px;
}
#wrapper .p-bottom-30{
	padding-bottom:30px;
}
#wrapper .p-bottom-40{
	padding-bottom:40px;
}
#wrapper .p-bottom-50{
	padding-bottom:50px;
}
#wrapper .p-bottom-60{
	padding-bottom:60px;
}
#wrapper .p-bottom-70{
	padding-bottom:70px;
}
#wrapper .p-bottom-80{
	padding-bottom:80px;
}
#wrapper .p-bottom-90{
	padding-bottom:90px;
}
#wrapper .p-bottom-100{
	padding-bottom:100px;
}
/* !Padding Left
---------------------------------------------------------- */
#wrapper .p-left-0{
	padding-left:0px;
}
#wrapper .p-left-8{
	padding-left:8px;
}
#wrapper .p-left-10{
	padding-left:10px;
}
#wrapper .p-left-20{
	padding-left:20px;
}
#wrapper .p-left-30{
	padding-left:30px;
}
#wrapper .p-left-40{
	padding-left:40px;
}
#wrapper .p-left-50{
	padding-left:50px;
}
#wrapper .p-left-60{
	padding-left:60px;
}
#wrapper .p-left-70{
	padding-left:70px;
}
#wrapper .p-left-80{
	padding-left:80px;
}
#wrapper .p-left-90{
	padding-left:90px;
}
#wrapper .p-left-100{
	padding-left:100px;
}
/* !Padding Right
---------------------------------------------------------- */
#wrapper .p-right-10{
	padding-right:10px;
}
#wrapper .p-right-20{
	padding-right:20px;
}
#wrapper .p-right-30{
	padding-right:30px;
}
#wrapper .p-right-40{
	padding-right:40px;
}
#wrapper .p-right-50{
	padding-right:50px;
}
#wrapper .p-right-60{
	padding-right:60px;
}
#wrapper .p-right-70{
	padding-right:70px;
}
#wrapper .p-right-80{
	padding-right:80px;
}
#wrapper .p-right-90{
	padding-right:90px;
}
#wrapper .p-right-100{
	padding-right:100px;
}
@media screen and (max-width: 991px) {
#wrapper .m-top-10{
	margin-top:5px;
}
#wrapper .m-top-20{
	margin-top:10px;
}
#wrapper .m-top-30{
	margin-top:15px;
}
#wrapper .m-top-40{
	margin-top:20px;
}
#wrapper .m-top-50{
	margin-top:25px;
}
#wrapper .m-top-60{
	margin-top:30px;
}
#wrapper .m-top-70{
	margin-top:35px;
}
#wrapper .m-top-80{
	margin-top:40px;
}
#wrapper .m-top-90{
	margin-top:45px;
}
#wrapper .m-top-100{
	margin-top:50px;
}
/* !Margin Bottom
---------------------------------------------------------- */
#wrapper .m-bottom-10{
	margin-bottom:5px;
}
#wrapper .m-bottom-20{
	margin-bottom:10px;
}
#wrapper .m-bottom-30{
	margin-bottom:15px;
}
#wrapper .m-bottom-40{
	margin-bottom:20px;
}
#wrapper .m-bottom-50{
	margin-bottom:25px;
}
#wrapper .m-bottom-60{
	margin-bottom:30px;
}
#wrapper .m-bottom-70{
	margin-bottom:35px;
}
#wrapper .m-bottom-80{
	margin-bottom:40px;
}
#wrapper .m-bottom-90{
	margin-bottom:45px;
}
#wrapper .m-bottom-100{
	margin-bottom:50px;
}
#wrapper .m-bottom-150{
	margin-bottom:75px;
}
#wrapper .m-bottom-200{
	margin-bottom:100px;
}
/* !Margin left
---------------------------------------------------------- */
#wrapper .m-left-10{
	margin-left:5px;
}
#wrapper .m-left-20{
	margin-left:10px;
}
#wrapper .m-left-30{
	margin-left:15px;
}
#wrapper .m-left-40{
	margin-left:20px;
}
#wrapper .m-left-50{
	margin-left:25px;
}
#wrapper .m-left-60{
	margin-left:30px;
}
#wrapper .m-left-70{
	margin-left:35px;
}
#wrapper .m-left-80{
	margin-left:40px;
}
#wrapper .m-left-90{
	margin-left:45px;
}
#wrapper .m-left-100{
	margin-left:50px;
}
/* !Margin Right
---------------------------------------------------------- */
#wrapper .m-right-10{
	margin-right:5px;
}
#wrapper .m-right-20{
	margin-right:10px;
}
#wrapper .m-right-30{
	margin-right:15px;
}
#wrapper .m-right-40{
	margin-right:20px;
}
#wrapper .m-right-50{
	margin-right:25px;
}
#wrapper .m-right-60{
	margin-right:30px;
}
#wrapper .m-right-70{
	margin-right:35px;
}
#wrapper .m-right-80{
	margin-right:40px;
}
#wrapper .m-right-90{
	margin-right:45px;
}
#wrapper .m-right-100{
	margin-right:50px;
}
/* !Padding Top
---------------------------------------------------------- */
#wrapper .p-top-10{
	padding-top:5px;
}
#wrapper .p-top-20{
	padding-top:10px;
}
#wrapper .p-top-30{
	padding-top:15px;
}
#wrapper .p-top-40{
	padding-top:20px;
}
#wrapper .p-top-50{
	padding-top:25px;
}
#wrapper .p-top-60{
	padding-top:30px;
}
#wrapper .p-top-70{
	padding-top:35px;
}
#wrapper .p-top-80{
	padding-top:40px;
}
#wrapper .p-top-90{
	padding-top:45px;
}
#wrapper .p-top-100{
	padding-top:50px;
}
/* !Padding Bottom
---------------------------------------------------------- */
#wrapper .p-bottom-10{
	padding-bottom:5px;
}
#wrapper .p-bottom-20{
	padding-bottom:10px;
}
#wrapper .p-bottom-30{
	padding-bottom:15px;
}
#wrapper .p-bottom-40{
	padding-bottom:20px;
}
#wrapper .p-bottom-50{
	padding-bottom:25px;
}
#wrapper .p-bottom-60{
	padding-bottom:30px;
}
#wrapper .p-bottom-70{
	padding-bottom:35px;
}
#wrapper .p-bottom-80{
	padding-bottom:40px;
}
#wrapper .p-bottom-90{
	padding-bottom:45px;
}
#wrapper .p-bottom-100{
	padding-bottom:50px;
}
/* !Padding Left
---------------------------------------------------------- */
#wrapper .p-left-10{
	padding-left:5px;
}
#wrapper .p-left-20{
	padding-left:10px;
}
#wrapper .p-left-30{
	padding-left:15px;
}
#wrapper .p-left-40{
	padding-left:20px;
}
#wrapper .p-left-50{
	padding-left:25px;
}
#wrapper .p-left-60{
	padding-left:30px;
}
#wrapper .p-left-70{
	padding-left:35px;
}
#wrapper .p-left-80{
	padding-left:40px;
}
#wrapper .p-left-90{
	padding-left:45px;
}
#wrapper .p-left-100{
	padding-left:50px;
}
/* !Padding Right
---------------------------------------------------------- */
#wrapper .p-right-10{
	padding-right:5px;
}
#wrapper .p-right-20{
	padding-right:10px;
}
#wrapper .p-right-30{
	padding-right:15px;
}
#wrapper .p-right-40{
	padding-right:20px;
}
#wrapper .p-right-50{
	padding-right:25px;
}
#wrapper .p-right-60{
	padding-right:30px;
}
#wrapper .p-right-70{
	padding-right:35px;
}
#wrapper .p-right-80{
	padding-right:40px;
}
#wrapper .p-right-90{
	padding-right:45px;
}
#wrapper .p-right-100{
	padding-right:50px;
}
}
@media screen and (max-width: 767px) {

}
