/*Home Style S
--------------------*/
.total-product{
	background: #f7f7f7;
	padding: 25px 0;
	text-align: center;
}
.total-product p img{
	width: 90px;
	margin-bottom: 15px;
}
#wrapper .total-product h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 15px;
}
.total-product h3 {
    font-size: 24px;
    font-weight: 600;
}
.rental-img img{
	width: 100%;
}
.wrapper-box{
	margin-top: 60px;
}
.wrapper-box .alice-carousel ul li{
	padding: 4px 15px;
	box-sizing: border-box;
}
.wrapper-box .alice-carousel .alice-carousel__next-btn,
.wrapper-box .alice-carousel .alice-carousel__prev-btn{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: auto;
    padding: 0;
}
.wrapper-box .alice-carousel .alice-carousel__next-btn{
	left: -30px;
}
.wrapper-box .alice-carousel .alice-carousel__prev-btn{
	right: -30px;
}
.wrapper-box .alice-carousel .alice-carousel__next-btn p{
	background:#fff url(/assets/img/icon/icon_arrow_left.png) no-repeat scroll center center;
    background-size: 12px auto;
    padding: 0;
    box-shadow: 0 0 6px 3px #e3dada;
    width: 32px;
    height: 32px;
    border-radius: 50px;
}
.wrapper-box .alice-carousel .alice-carousel__prev-btn p{
	background:#fff url(/assets/img/icon/icon_arrow_right.png) no-repeat scroll center center;
    background-size: 12px auto;
    padding: 0;
    box-shadow: 0 0 6px 3px #e3dada;
    width: 32px;
    height: 32px;
    border-radius: 50px;
}
.wrapper-box .alice-carousel .alice-carousel__next-btn span,
.wrapper-box .alice-carousel .alice-carousel__prev-btn span{
	display: none;
}
.product-list {
    box-shadow: 0 0 6px 3px #e3dada;
}
.sc-bxivhb{
	padding: 4px;
}
.sc-ifAKCX button {
    padding: 0;
    border: 0;
    box-shadow: 0 0 6px 3px #e3dada;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    text-indent: -99999px;
}
.sc-EHOje button{
    background: url(/assets/img/icon/icon_arrow_right.png) no-repeat scroll center center;
    background-size: 12px auto;
}
.sc-bZQynM button{
    background: url(/assets/img/icon/icon_arrow_left.png) no-repeat scroll center center;
    background-size: 12px auto;
}
.sc-ifAKCX button:focus{
	outline: 0;
}
.product-img img{
	width: 100%;
	height: 280px;
	object-fit: cover;
}
#wrapper .rent-wrapper {
    background: #fcd469;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 15px;
    box-shadow: 0 0 4px #9b9191;
}
#wrapper .rent-wrapper li {
    width: 33.33%;
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 0 18px;
}
#wrapper .rent-wrapper li span {
    display: block;
    font-weight: normal;
    font-size: 15px;
}
.rent-details {
    text-align: center;
    background: #fff;
    padding: 20px 0;
}
#wrapper .rent-details p{
    font-size: 18px;
    margin-bottom: 20px
}
.rent-details span{
	font-weight: 600;
}
.btn-wrapper{
	position: relative;
}
.widh-list {
    position: absolute;
    top: 50%;
    right: 12px;
    z-index: 99;
    transform: translateY(-50%);
}
.widh-list img{
	width: 30px;
}
.wrapper-tabs{
	background: #f5faff;
	margin-top: 30px;
}
.inner-tab-des {
    padding: 50px 70px;
}
.tabs-img img{ 
	width: 100%;
	height: 320px;
	object-fit: cover;
}
.inner-tabs-img{
	position: relative;
	padding-bottom: 170px;
}
.tabs-icon {
    position: absolute;
    left: -222px;
    z-index: 99;
    bottom: 0;
    box-shadow: 0 0 4px 2px #d0d0d0;
}
.tabs-icon-right {
    left: auto;
    right: -222px;
}
.tabs-icon img {
    width: 222px;
    height: 210px;
    object-fit: cover;
    object-position: center center;
}
#wrapper .wrapper-tabs-rds .nav.nav-tabs{
    background: #292e34;
    max-width: 452px;
    border-radius: 50px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding: 10px 14px;
    margin: -128px auto 60px;
}
#wrapper .wrapper-tabs-rds a{
	display: block;
	padding: 6px 0;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
	display: inline-block;
	color: #a99151;
	font-size: 16px;
	border: 0;
	border-radius: 0;
}
#wrapper .wrapper-tabs-rds a:last-child{
	border-left: solid 0.5px #d4d5d6;
}
#wrapper .wrapper-tabs-rds a:hover,
#wrapper .wrapper-tabs-rds a:focus,
#wrapper .wrapper-tabs-rds a.active{
	color: #fcd469;
	font-weight: 500;
	text-decoration: none;  
    background: transparent;
}
.wrapper-tabs .common-text{
	text-align: justify;
}
@media screen and (max-width: 1200px){
	#wrapper .rent-details p {
    	font-size: 15px;
    	padding: 0 10px;
    }
    #wrapper .rent-wrapper li {
    	padding: 0 0 0 8px;
	}
	.inner-tabs-img {
    	padding-bottom: 190px;
	}
	.wrapper-box {
    	padding: 0 30px;
	}
}
@media screen and (max-width: 991px){
	.total-product p img {
	    width: 70px;
	    margin-bottom: 12px;
	}
	#wrapper .total-product h4 {
	    font-size: 18px;
	    margin: 0 0 12px;
	}
	.total-product h3 {
    	font-size: 22px;
    }
    .wrapper-product > div{
		margin-bottom: 30px;
    }
    #wrapper .rent-wrapper li {
    	padding: 0 0 0 18px;
	}
	.inner-tab-des {
    	padding: 32px 20px;
	}
	.tabs-img img {
    	height: 270px;
    }
    .tabs-icon {
    	left: -180px;
	}
	.tabs-icon-right {
	    left: auto;
	    right: -180px;
	}
    .tabs-icon img {
	    width: 180px;
	    height: 180px;
    }
	.inner-tabs-img {
    	padding-bottom: 165px;
	}
	#wrapper .wrapper-tabs-rds .nav.nav-tabs{
    	margin: -88px auto 60px;
	}
}
@media screen and (max-width: 767px){
	.total-product {
    	padding: 30px 0;
    }
	.total-product .col-md-4{
		margin-bottom: 30px;
	}
	.total-product .col-md-4:last-child{
		margin-bottom: 0px;
	}
	.wrapper-box{
		max-width: 500px; 
		margin:30px auto 0;
		padding: 0;
	}

	.product-img img {
    	height: 235px;
    }
    #wrapper .rent-wrapper {
    	padding: 6px 10px;
	}
	#wrapper .rent-wrapper li {
    	padding: 0 0 0 20px;
		font-size: 14px;
	}
	#wrapper .rent-wrapper li span {
    	font-size: 14px;
	}
	#wrapper .wrapper-tabs-rds {
    	margin: -68px auto 42px;
	}
	.tabs-img img {
    	height: 360px;
	}
	.tabs-icon {
    	box-shadow: 0 0 4px #d0d0d0;
		left: 0;
	}
	.inner-tabs-img {
    	padding-bottom: 0;
	}
	.tabs-icon-right {
    	left: auto;
    	right: 0px;
	}
	.wrapper-tabs .col-md-8{
		order: 2;	
	}

}
@media screen and (max-width: 576px){
	.tabs-icon img {
	    width: 130px;
	    height: 120px;
	    object-fit: fill;
	}
	.tabs-img img {
    	height: 260px;
	}
	.wrapper-box .alice-carousel .alice-carousel__next-btn {
    	left: 0;
	}
	.wrapper-box .alice-carousel .alice-carousel__prev-btn {
    	right: 0;
	}
	.product-img img {
    	height: 200px;
	}
	#wrapper .rent-wrapper {
    	padding: 15px 10px;
	}
	#wrapper .rent-wrapper li{
		width: 100%;
		text-align: center;
		margin-bottom: 12px;
		padding: 0;
	}
	#wrapper .rent-wrapper li:last-child{
		margin-bottom: 0;
	}
	#wrapper .rent-details p{
		font-size: 14px;
	}
	.widh-list img {
    	width: 22px;
	}
}
/*Home Style E
--------------------*/